POSTGRES_USER=sample_user
POSTGRES_PASSWORD=sample_password
POSTGRES_DB=sample_db
POSTGRES_PORT=5432
CLICKHOUSE_USER=sample_user
CLICKHOUSE_PASSWORD=sample_password
CLICKHOUSE_DB=sample_db
CLICKHOUSE_PORT_HTTP=8123
CLICKHOUSE_PORT_NATIVE=9000